/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   RESET CSS
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Default */
body {
  background-color: #fff;
  color: #171717;
  font-family: "Lexend Deca";
}

/* App */
.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.app-input {
  background-color: #222630;
  padding: 0.75rem 1rem;
  margin-bottom: 20px;
  outline: none;
  width: 280px;
  color: white;
  border-radius: 0.5rem;
  border: 2px solid #2b3040;
  transition: border-color 0.1s;
}

.app-input:focus {
  border-color: #596a95;
}

.app-cname {
  font-size: 25px;
  margin-bottom: 20px;
}

.app-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.app-cinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  font-size: 20px;
}

.app-subtitle-info {
  font-family: "Roboto";
  color: #404040;
}

.app-clanguages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  list-style: disc;
}

.clanguages-subtitle {
  font-family: "Roboto";
  color: #404040;
}
